NAME=name
alma_mater=education
domesticpartner=partner
othername=othernames
otherothernames=othernames
professionalname=othernames
names=othernames
nationallity=nationality
relations=family
URL=website
relatives=family
relative=family
finish=awards
baftaawards=awards
cesarawards=awards
naacpimageawards=awards
caaption=caption
imagecaption=caption
notablework=knownfor
notableworks=knownfor
footnote=knownfor
notable role=knownfor
bestknown=knownfor
credits=knownfor
author=knownfor
known for=knownfor
knowfor=knownfor
years_active=yearsactive
Yearsactive=yearsactive
uearsactive=yearsactive
homepage=website
honours=awards
spouse(s)=spouse
almamater=education
birth_name=birthname
boards=employer
Height=height
ethnic=ethnicity
profession=occupation
image_name=image
image_caption=caption
captionn=caption
mother=parents
father=parents
nativename=othernames
goldenglobeawards=awards
Children=children
organization=employer
award=awards
url=website
footnotes=knownfor
honors=awards
honor=awards
notablerole=knownfor