NAME=name
alma_mater=education
domesticpartner=partner
othername=othernames
otherothernames=othernames
professionalname=othernames
names=othernames
nationallity=nationality
relations=family
URL=website
relatives=family
relative=family
finish=awards
baftaawards=awards
cesarawards=awards
naacpimageawards=awards
caaption=caption
imagecaption=caption
notablework=knownfor
notableworks=knownfor
footnote=knownfor
notable role=knownfor
bestknown=knownfor
credits=knownfor
author=knownfor
known for=knownfor
knowfor=knownfor
years_active=yearsactive
Yearsactive=yearsactive
uearsactive=yearsactive
homepage=website
honours=awards
spouse(s)=spouse
almamater=education
birth_name=birthname
boards=employer
residence=residenceplace
Height=height
ethnic=ethnicity
profession=occupation
image_name=image
image_caption=caption
captionn=caption
mother=parents
father=parents
nativename=othernames
goldenglobeawards=awards
Children=children
organization=employer
award=awards
url=website
footnotes=knownfor
honors=awards
honor=awards
notablerole=knownfor
imdbid=imdbe
othernam=othernames
tonyawards=awards
alternatename=othernames
brother=siblings
goldenraspberryawards=awards
aliasname=othernames
othernamess=othernames
cildren=children
sagawards=awards
emmyawards=awards
birthplacehi=birthplace
imdb=imdbe
partner(s)=partner
causeofdeath=deathcause
otherstagename=othernames
spouse#2=spouse
active=yearsactive

populationdensitysqmi=populationdensity
timezone1dst=timezone
areatotalsqmi=area
subdivisionname2=county
subdivisionname1=state
subdivisionname=country
leadername=leader
populationtotal=population
timezone1=timezone

editing=editor
edting=editor
cinematography=cinematographer
released=releaseddate
casting=starring
producers=producer
aproducer=producer
writers=writer
executiveproducer=producer
produced=producer
cinematograophy=cinematographer
written=writer
cimematography=cinematographer
additionaldialogue=writer
writtenby=writer
leadingrole=starring
country(film)=country
releasedate=releaseddate
eproducer=producer
runningtime=runtime
release=releaseddate
earnings=gross
moviemusic=music
boxoffice=gross
cinemathography=cinematographer
executiveproducers=producer
directors=director
associateproducer=producer
co-starring=starring
nicknames=nickname