lookupconfig_file=C:\\Pals\\Code\\GitHub\\orangehummer\\code\\processor\\parser\\config\\lookupProperties.config

#input_file=C:\\Pals\\Code\\GitHub\\orangehummer\\code\\processor\\parser\\wikipages\\Person\\Wikipedia-20131201210040_American_film_actress.xml
#output_file=C:\\Pals\\Code\\GitHub\\orangehummer\\code\\solr\\OrangeHummer\\solr\\QACollection\\data\\docs\\Infoboxperson_American_film_actress_final_2002.xml

input_file=C:\\Pals\\Code\\GitHub\\orangehummer\\code\\processor\\parser\\wikipages\\Settlement\\Wikipedia-20131130220338_newyork.xml
output_file=C:\\Pals\\Code\\GitHub\\orangehummer\\code\\solr\\OrangeHummer\\solr\\QACollection\\data\\docs\\infobox_people_newyork.xml