{% extends "base.html" %}
{% load mytags %}
{% load staticfiles %}
{% block content %}

{% block other_css %}
<style>
.form-group { width:100%!important;}
button { width:100%!important;}
.id_qtype { display: none;}
.id_num_col { display: none;}
.mybtn:hover { background-color: #8262B3; color:#FFFFFF;}
.mybtn { background-color: #936FC9; color:#FFFFFF;}
.twitter-typeahead { width:100%; }
.left_border {
    margin-left: 0;
    border-left: 1px solid #eee;
}
.top_border {
    border-top: 1px solid #eee;
}

</style>
{% endblock other_css %}

<div class="row">
  <div class="col-md-8 col-md-offset-1">
  	<div>
  		Please ask your question below! 
  	</div>
  	<br/>
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a class="topic" id="person" data-toggle="tab">Person</a></li>
      <li><a class="topic" id="places" data-toggle="tab">Places</a></li>
      <li><a class="topic" id="movies" data-toggle="tab">Movies</a></li>
    </ul>
  </div>
</div>

<div id="myTabContent" class="tab-content">
  	<form style="margin-top:30px" class="form-inline" role="form" action="" id="PersonForm" method="POST">{% csrf_token %}
      <div class="row">
      {% for field in form %}
        {% ifequal forloop.counter 2 %}
        <div class="col-md-1 col-md-offset-1 {{field.id_for_label}}">
        {% else %}
            {% ifequal forloop.counter 4 %}
                <div class="col-md-3 {{field.id_for_label}}">
            {% else %}
                <div class="col-md-2 {{field.id_for_label}}">
            {% endifequal %}
        {% endifequal %}
          {% if field.errors %}
              <div class="form-group has-error">
          {% else %}
              <div class="form-group">
          {% endif %}
                   <label for="{{ field.id_for_label }}" class="sr-only">{{ field.choice_label }}</label>
                   {{ field }}
                   {% if field.errors %}
                            {{field.errors|striptags}}
                   {% endif %}
              </div>
        </div>
      {% endfor %}
      </div>
      <div class="row top-buffer">
        <div class="col-md-2 col-md-offset-7">
  	      <button type="submit" class="btn btn-default mybtn">Search</button>
        </div>
        <div class="col-md-3 left_border">
          <div>
        {% if recent %}
            <em>Your Recent Searches</em>
        {% else %}
            <br/><br/><br/><br/><br/><br/>
        {% endif %}
          </div>
        </div>
      </div>
    </form>
    <!--<br/><br/><br/><br/><br/>-->
     <div class="row top-buffer top_border">
         <div class="col-md-3 col-md-offset-5"><br/>
           <strong>Sample Questions</strong>
         </div>
     </div>
     <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <div>
              <p style="text-align:center;">  <strong>Person</strong></p>
                <ul>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rohan sippy&last_col=occupation">What is Rohan Sippy Occupation?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=when&col2=was&noun=Aaron Himelstein&last_col=born">When was Aaron Himelstein born?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=who&col2=is&noun=Oleg Deripaska&last_col=spouse">Who is Oleg Deripaska spouse?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=are&noun=BarbaraBabcock&last_col=awards">What are Barbara Babcock awards?</a></li>
                <ul>
          </div>
        </div>
        <div class="col-md-3 left_border">
          <div>
              <p style="text-align:center;">  <strong>Places</strong></p>
                <ul>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                <ul>
          </div>
        </div>
        <div class="col-md-3 left_border">
          <div>
              <p style="text-align:center;">  <strong>Movies</strong></p>
                <ul>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                  <li><a href="/ask?qtype=person&fiveW=what&col2=is&noun=rachel veltri&last_col=nationality">What is Rachel Veltri Nationality?</a></li>
                <ul>
          </div>
        </div>

      </div>

   </div><!--Closing myTabContent -->

</div>
{% endblock content %}
{% block other_js %}
<script type="text/javascript" src="{% static "js/tabchange.js" %}"></script> 
{% endblock other_js %}
